body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1801px;
  height:1442px;
}
#u2874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:278px;
  width:1801px;
  height:1442px;
  display:flex;
}
#u2874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:250px;
}
#u2875 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:559px;
  width:800px;
  height:250px;
  display:flex;
}
#u2875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:70px;
}
#u2876 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:501px;
  width:800px;
  height:70px;
  display:flex;
  color:#FF0051;
}
#u2876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:250px;
}
#u2877 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:917px;
  width:800px;
  height:250px;
  display:flex;
}
#u2877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:70px;
}
#u2878 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:859px;
  width:800px;
  height:70px;
  display:flex;
  color:#FF0051;
}
#u2878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:250px;
}
#u2879 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:1275px;
  width:800px;
  height:250px;
  display:flex;
}
#u2879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:70px;
}
#u2880 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:1217px;
  width:800px;
  height:70px;
  display:flex;
  color:#FF0051;
}
#u2880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u2881 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:404px;
  width:354px;
  height:42px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u2881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:250px;
}
#u2882 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:559px;
  width:800px;
  height:250px;
  display:flex;
}
#u2882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:70px;
}
#u2883 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:501px;
  width:800px;
  height:70px;
  display:flex;
  color:#FF0051;
}
#u2883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:250px;
}
#u2884 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:917px;
  width:800px;
  height:250px;
  display:flex;
}
#u2884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:70px;
}
#u2885 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:859px;
  width:800px;
  height:70px;
  display:flex;
  color:#FF0051;
}
#u2885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:250px;
}
#u2886 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:1275px;
  width:800px;
  height:250px;
  display:flex;
}
#u2886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:70px;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:1217px;
  width:800px;
  height:70px;
  display:flex;
  color:#FF0051;
}
#u2887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:404px;
  width:338px;
  height:42px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u2888 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2888_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:131px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:611px;
  width:123px;
  height:121px;
  display:flex;
}
#u2889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:131px;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:606px;
  width:112px;
  height:131px;
  display:flex;
}
#u2890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:522px;
  width:106px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:522px;
  width:181px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2892_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:640px;
  width:68px;
  height:66px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2893_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u2894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:754px;
  width:170px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:754px;
  width:152px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2895 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2895_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:131px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:958px;
  width:123px;
  height:121px;
  display:flex;
}
#u2896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:131px;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:953px;
  width:112px;
  height:131px;
  display:flex;
}
#u2897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:987px;
  width:68px;
  height:66px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2898_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u2899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1101px;
  width:163px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:1101px;
  width:145px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:131px;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:1316px;
  width:123px;
  height:121px;
  display:flex;
}
#u2901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:131px;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:1311px;
  width:112px;
  height:131px;
  display:flex;
}
#u2902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:1345px;
  width:68px;
  height:66px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2903_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u2904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1459px;
  width:170px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:1459px;
  width:152px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2905_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:880px;
  width:106px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2906 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2906_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:880px;
  width:181px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1238px;
  width:106px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:1238px;
  width:181px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2909_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:131px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:611px;
  width:123px;
  height:121px;
  display:flex;
}
#u2910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:131px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:606px;
  width:112px;
  height:131px;
  display:flex;
}
#u2911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:522px;
  width:106px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:522px;
  width:181px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2913_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:640px;
  width:77px;
  height:66px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2914_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u2915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:754px;
  width:170px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2915 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2915_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:1494px;
  top:754px;
  width:152px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:131px;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:969px;
  width:123px;
  height:121px;
  display:flex;
}
#u2917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:131px;
}
#u2918 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:964px;
  width:112px;
  height:131px;
  display:flex;
}
#u2918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2919 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:880px;
  width:106px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2919_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2920 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:880px;
  width:181px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2921 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:998px;
  width:104px;
  height:66px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2921_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u2922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2922 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:1112px;
  width:163px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2923 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:1112px;
  width:145px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:131px;
}
#u2924 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:1327px;
  width:123px;
  height:121px;
  display:flex;
}
#u2924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:131px;
}
#u2925 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:1322px;
  width:112px;
  height:131px;
  display:flex;
}
#u2925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2926 {
  border-width:0px;
  position:absolute;
  left:969px;
  top:1238px;
  width:106px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2927 {
  border-width:0px;
  position:absolute;
  left:1514px;
  top:1238px;
  width:181px;
  height:30px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u2927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2928 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:1356px;
  width:104px;
  height:66px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:55px;
  color:#FF0051;
}
#u2928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2928_text {
  border-width:0px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.6470588235294118);
  text-transform:none;
}
#u2929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2929 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:1470px;
  width:170px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2930 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:1470px;
  width:152px;
  height:31px;
  display:flex;
  font-family:"Roboto", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u2930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:901px;
}
#u2931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1720px;
  width:1799px;
  height:901px;
  display:flex;
}
#u2931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2932 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:2570px;
  width:20px;
  height:20px;
  display:flex;
}
#u2932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2933 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:2570px;
  width:20px;
  height:20px;
  display:flex;
  opacity:0.5;
}
#u2933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2934 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:2570px;
  width:20px;
  height:20px;
  display:flex;
  opacity:0.5;
}
#u2934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:500px;
}
#u2935 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:1921px;
  width:500px;
  height:500px;
  display:flex;
}
#u2935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:500px;
}
#u2936 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:1900px;
  width:500px;
  height:500px;
  display:flex;
}
#u2936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Azonix", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:113px;
  color:#FFFFFF;
  text-align:center;
}
#u2937 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:2093px;
  width:290px;
  height:114px;
  display:flex;
  font-family:"Azonix", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:113px;
  color:#FFFFFF;
  text-align:center;
}
#u2937 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2937_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  -webkit-text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  -moz-text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  text-transform:none;
}
#u2938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Azonix", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u2938 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:2523px;
  width:315px;
  height:50px;
  display:flex;
  font-family:"Azonix", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u2938 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2938_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  -webkit-text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  -moz-text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  text-transform:none;
}
#u2939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Azonix", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u2939 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:2529px;
  width:315px;
  height:51px;
  display:flex;
  font-family:"Azonix", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u2939 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2939_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  -webkit-text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  -moz-text-shadow:1px 1px 5px rgba(255, 0, 81, 1);
  text-transform:none;
}
#u2940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1799px;
  height:1010px;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2621px;
  width:1799px;
  height:1010px;
  display:flex;
}
#u2940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:901px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 3%, rgba(215, 215, 215, 1) 9%, rgba(96, 96, 96, 1) 46%, rgba(0, 0, 0, 1) 87%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 3%, rgba(215, 215, 215, 1) 9%, rgba(96, 96, 96, 1) 46%, rgba(0, 0, 0, 1) 87%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 3%, rgba(215, 215, 215, 1) 9%, rgba(96, 96, 96, 1) 46%, rgba(0, 0, 0, 1) 87%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:901px;
  display:flex;
  opacity:0.2;
}
#u2941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:1796px;
  height:896px;
}
#u2942_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1796px;
  height:896px;
  overflow:hidden;
}
#u2943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:901px;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3631px;
  width:1800px;
  height:901px;
  display:flex;
}
#u2943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
